
<% if @nohit %>
  <h3> Hi there, <%= session[:player_name] %>.</h3>
<% end %>
<br/>
<br/>
<form>
  <a href='/game'><input value='Click Here to Start!' class='btn btn-primary' id='resize_cont'></a>

</form>



