
<% if @nohit %>
  <h3> Hi there, <%= session[:player_name] %>.</h3>
<% end %>
<h3>Your bank roll is $<%= session[:bank].to_s %></h3>

<h3 id='initial_bet'>Please make an initial bet</h3>
<form action="/first_bet" method="post">
	<input type="text" name="initial_bet"/>
	<input type='submit' value='Click Here to Start!' class='btn btn-primary' id='resize_cont'>
</form>




