<div class='well well_color_dark welc_div'>
	<h3 class='welc'>Welcome to Blackjack! What is your name?</h3>
	<br/>
	
	<form action="/set_name" method="post" class='welc'>
		<strong class='name_form'>Name:</strong> <input type="text" name="player_name"/>
		<input type="submit" class="btn btn-success name_button">
	</form>	
  <br/>
	<img src="/images/cards/rsz_dh_b_big.jpg" class='welc'>
	<img src="/images/cards/rsz_dh_b_big.jpg">	
	<img src="/images/cards/rsz_dh_b_big.jpg">
</div>	
