<h3>Welcome to Blackjack! What is your name?</h3>
<br/>
	
<form action="/set_name" method="post">
	<strong class='name_form'>Name:</strong> <input type="text" name="player_name"/>
	<input type="submit" class="btn btn-success" id='name_button'>
</form>	

<img src="/images/cards/rsz_dh_b_big.jpg">
	
	
	
